<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/forms.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs')%>
            <main>
                <% if(userMessage.length>0){%>
                    <div class="user-message user-message--error"><%=userMessage%></div>
                    <%}%>
                <form class="login-form" action="/login" method="post">
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                    <div class="form-control">
                        <label for="email">E-mail</label>
                        <input class="<%= errorPath.includes('email')?'invalid':''%>"name="email" value="<%= userData.email%>" type="text">
                    </div>
                    <div class="form-control">
                        <label for="password">Password</label>
                        <input class="<%= errorPath.includes('password')?'invalid':''%>"type="password" value="<%= userData.password%>" name="password" id="password">
                    </div>
                    <button class="btn" type="submit">login</button>
                    <div>
                    <a class="center " href="/reset">Forget Password?</a>
                </div>
                </form>
            </main>
            <%- include('../includes/end.ejs')%>